<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">


<f:if condition="{data_tx_altaahaccordion_acco}">
<div class="accordion" id="accordionExample">
<f:for each="{data_tx_altaahaccordion_acco}" as="data_item">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acco{data_item.data.uid}" aria-expanded="true" aria-controls="collapseOne">
        {data_item.data.tx_altaahaccordion_accoheader}
      </button>
    </h2>
    <div id="acco{data_item.data.uid}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {data_item.data.tx_altaahaccordion_accocontent -> f:format.html()}
      </div>
    </div>
  </div>
</f:for>
</div>
</f:if>

</f:section>

</html>